<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VSSDK.Debugger.VSDConfigTool" version="17.0.1110801" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.VSSDK.Debugger.VSDebugEng" version="17.0.1110801" targetFramework="native" developmentDependency="true" />
</packages>